In [35]:
a = "Sumeet Parab1"
a

'Sumeet Parab1'

In [27]:
a.isalnum()  # Checks if all char in string are numbers

False

In [28]:
a.isalpha()  # Checks if all char in string are numbers

False

In [30]:
a.isdigit()  # Checks if string contains any digit

False

In [31]:
a.istitle()  # Checks if strings first character is in UpperCase

True

In [36]:
a.isupper()  # Checks if strings all char are UpperCase

False

In [38]:
a.islower()  # Checks if strings all char are LowerCase

False

In [40]:
print(a.startswith('S'))  #checks if  string starts with 'given char'.
print(a.startswith('s'))  #Its case sensitive

True
False

In [42]:
print(a.endswith('B'))  #checks if  string starts with 'given char'.
print(a.endswith('1'))  #Its case sensitive

False
True

# List
* A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [46]:
b = []
type(b)

list

In [58]:
c = ['Sumeet', 'Parab', 2, 3, 4, "Sumeet Parab 2003" ]
c

['Sumeet', 'Parab', 2, 3, 4, 'Sumeet Parab 2003']

## length
* displays the length of given variable

In [56]:
len(c)

6

## Apend
it's used to add more elements in list
* syntax: list_var.append("element","element")

In [59]:
c.append("Data Science")
c.append(['Machine', 'Learning'])  # nested list
c

['Sumeet',
 'Parab',
 2,
 3,
 4,
 'Sumeet Parab 2003',
 'Data Science',
 ['Machine', 'Learning']]

## Insert
allows user to add elements at any index value of the list
* syntax = list_var.insert(index_value,"element")

In [60]:
c.insert(3,'Hello')

In [61]:
c

['Sumeet',
 'Parab',
 2,
 'Hello',
 3,
 4,
 'Sumeet Parab 2003',
 'Data Science',
 ['Machine', 'Learning']]